php_value display_errors 1
php_value session.auto_start 1



# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:la-imperial.net
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?la-imperial.net
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:la-imperial.net
